#disco  {   list-style-type: disc;}

#circulo{   list-style-type: circle;}

#cuadrado{  list-style-type: square;}

#nada   {   list-style-type: none;}

body    {   background-image: url("images/paper.jpg");
            background-repeat: no-repeat;
            background-size: 100%;}

