ul   {   list-style-type: none;
         margin: 0;  /*margin up*/
         padding: 0; /*padding left*/
         overflow: hidden ;
         background-color: #333333;}

li    {     float: left; /*se ponen en linea los elementos*/}

li  a   {   display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;}

li a:hover {    background-color: #111111;}
