table   {   border-style: dotted dashed solid double;
            width: 100%;
            border-color: black;
            }

td      {  
            width: 10%;
            height: 50px;
            text-align: center;}

.dotted {   border-style: dotted;}

.dashed {   border-style: dashed;}

.solid  {   border-style: solid;}

.double {   border-style: double;}

.groove {   border-style: groove;}

.ridge  {   border-style: ridge;}

.inset  {   border-style: inset;}

.outset {   border-style: outset;}

.none   {   border-style: none;}

.hidden {   border-style: hidden;}

caption {  font-size: 28px;
            font-weight: 900;}

.personal   { border-style: solid;
              border-width: 5px;}

.medium     {   border-style: solid;
                border-width: medium;}

.thin       {   border-style: solid;
                border-width: thin;}

.thick       {   border-style: solid;
                border-width: thick;}

.one       {   border-style: solid;
                border-width: 10px;}

.two        {   border-style: solid;
                border-width: 10px 5px;} /* 10 up/down 5 left/right*/

.four       {   border-style: solid;
                border-width: 10px 5px 2px 5px;} /*10up 5rigth 2down 5left
