table   {   border-style: dotted dashed solid double;
            width: 100%;
            border-color: black;
            }

td      {  
            width: 10%;
            height: 50px;
            text-align: center;}

.dotted {   border-style: dotted;}

.dashed {   border-style: dashed;}

.solid  {   border-style: solid;}

.double {   border-style: double;}

.groove {   border-style: groove;}

.ridge  {   border-style: ridge;}

.inset  {   border-style: inset;}

.outset {   border-style: outset;}

.none   {   border-style: none;}

.hidden {   border-style: hidden;}

caption {  font-size: 28px;
            font-weight: 900;}

.personal   { border-style: solid;
              border-width: 5px;}

.medium     {   border-style: solid;
                border-width: medium;
                margin-top: 20px;}

.thin       {   border-style: solid;
                border-width: thin;}

.thick       {   border-style: solid;
                border-width: thick;}

.one       {   border-style: solid;
                border-width: 10px;}

.two        {   border-style: solid;
                border-width: 10px 5px;} /* 10 up/down 5 left/right*/

.four       {   border-style: solid;
                border-width: 10px 5px 2px 5px;} /*10up 5rigth 2down 5left*/

.color1     {   border-style: solid;
                border-color: red;
                border-width: medium;}

.color2     {   border-style: solid;
                border-color: green;
                border-width: medium;}

.color3     {   border-style: dotted;
                border-color: blue;
                border-width: medium;}

.color4     {   border-style: solid;
                border-color: red green blue  yellow;  /*sentido del reloj*/
                border-width: medium;} 

.color5     {   border-style: solid;
                border-color: rgb(187, 187, 187);
                border-width: medium;}

.color6     {   border-style: solid;
                border-color: #bbbbbb;}

.color7     {   border-style: solid;
                border-color: hsl(0, 0%, 73%);}

.side1      {   border-top-style: dotted;
                border-right-style: solid;
                border-bottom-style: dotted;
                border-left-style: solid;}

.side2      {   border-style: dotted solid double dashed;} /*up, rigth, bottom, left*/

.side3      {   border-style: dotted solid double;}         /*top, right-left, bottom*/

.side4      {   border-style: dotted solid;}                /*up-botto, right-left*/

.side5      {   border-style: dotted;}                      /*One value, all sides*/

.sh1        {   border: 5px solid red;}

.sh2        {   border-left: 6px solid red;
                background-color: lightgrey;}

.sh3        {   border-bottom: 6px solid red;
                background-color: lightgray;}

.r1         {   border: 2px solid red;}

.r2         {   border: 2px solid red;
                border-radius: 5px;}

.r3          {  border: 2px solid red;
                border-radius: 8px;}

.r4          {  border: 2px solid red;
                border-radius: 12px;}

.ex1        {   border-style: solid;
                border-top: thick double #ff0000;}

.ex2        {   border-style: solid;
                border-bottom-style: dashed;}

.ex3        {   border-style: solid;
                border-left-width: 5px;}

.ex4        {   border-style: solid;
                border-color: #ff0000 #0000ff;}

.ex5        {   border-style: solid;
                border-right-color: #ff0000;
                border-right-width: 5px;}
