*       {       box-sizing: border-box;}

body    {       font-family: Verdana, Geneva, Tahoma, sans-serif;}

.uno    {       background-color: #f1f1f1;
                padding: 15px;}

.dos    {       overflow: auto;}

.menu   {       float: left;
                width: 20%;}

.menuitem   {   padding: 8px;
                margin-top: 7px;
                border-bottom: 1px solid #f1f1f1;}

.main   {       float: left;
                width: 60%;
                padding: 0 20px;
                overflow: hidden;}

img     {       width: 100%;}        /*escala al subir y bajar el tamaño de la ventana*/
              /*max-width: 100%;     /* con max width, el tamaño de la imagen no cambia si se aumenta el tamaño de la ventana,
                heigth: auto;  }        pero si que disminuye al disminuir el tamaño de la ventana*/
                                       

.right  {       background-color: lightblue;
                float: left;
                width: 20%;
                padding: 10px 15px;
                margin-top: 7px;}

.tres   {       background-color: #f1f1f1;
                text-align: center;
                padding: 10px;
                margin-top: 7px;
                font-size: 12px;}

@media only screen and (max-width:800px){
    /*for tablets: */
    .main   {   width: 80%;
                padding: 0;}
    .right  {   width: 100%;}
}

@media only screen and (max-width:500px){
    /*for mobile phones: */
    .menu, .main, .right {
                width: 100%;
    }
}
