*                   {       text-align: center;
                            font-family: 'Lucida Sans', sans-serif;}

p,h3,div               {       display: none;}

/*para meter el background al header y al parrafo, que tienen class
/*.centrar_texto     {       background-image: url('imagenes/img_girl.jpg') ;}*/

/*la imagen se repetirá
body                {       background-image: url('imagenes/img_girl.jpg');}*/

/*para que solo aparezca una vez
body               {       background-image: url('imagenes/img_girl.jpg');
                            background-repeat: no-repeat;}
                            
/*background cover*/
body    {   background-image: url('../../../Web/imagenes/office2.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            /*background-size: cover;                 the background cover all the body*/
            background-size: 100% 100%;}               /*backgrund strecth, se ajsuta la inmagen a la pantalla*/




