body    {   background-color: antiquewhite;}

h3,p    {   font-family: 'Courier New', Courier, monospace;}

img     {   width: 42px;
            height: 42px;}

a:link  {   color:green;
            background-color: transparent;
            text-decoration: none;}

a:visited { color: pink;
            background-color: transparent;
            text-decoration: none; }

a:hover {   color:red;
            background-color: transparent;
            text-decoration: underline;}

a:active {  color: yellow;
            background-color: transparent;
            text-decoration: underline;}

a.boton:link, a.boton:visited {
            background-color: #f44336;
            color: white;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
}

a.boton:hover, a.boton:active {
            background-color: red;
}