.padding1   {       padding-left: 2cm;}

.padding2    {      padding-left: 50%;}

.padding3   {       padding-right: 2cm;}

.padding4   {       padding-right: 50%;}

.padding5   {       padding-top: 2cm;}

.padding6   {       padding-top: 50%;}

.padding7   {       padding-bottom: 2cm;}

.padding8   {       padding-bottom: 50%;}